<h1 class="animated fadeIn fast">Sobre Recursos Informaticos</h1>
<hr>
<p class="animated fadeIn">Una Comunidad de Informáticos que buscan aprender y superarse, ayudando a todos entre si.</p>
<div>
    <h2>Version 2.0 <span>07/10/2020</span></h2>
    <ul>

        <li>
            <p>Funcionamiento de las etiquetas de los recursos añadida, para una mejor Organización de los mismos.</p>
        </li>

    </ul>
    <h4>Agradecimientos a Zahir Sánchez con:</h4>
    <ul>

        <li>
            <p>Mejoras en el diseño de la pagina de Inicio.</p>
        </li>
        <li>
            <p>Mejoras en el diseño de las etiquetas de los Recursos.</p>
        </li>
        <li>
            <p>Correción de faltas ortográficas.</p>
        </li>

    </ul>
</div>