<!-- <div class="card bg-dark text-white">
    <img src="../assets/undraw_project_team_lc5a.svg" class="card-img" alt="fondo de overlay" height="300px">
    <div class="card-img-overlay">
        <h1 class="display-4"></h1>
         <p class="lead">
        <hr class="my-4"> 
      

    </div>
</div> -->

<div class="jumbotron animated fadeIn fast">
    <h1 class="display-4">Recursos para Informaticos</h1>
    <p class="lead">La comunidad que tiene el fin de poder aportar conocimiento, cursos y libros a todos los apasionados por algun tema de la informática, aprender, convivir sobre estos temas, si te gusta algun tema, únete.</p>
    <hr class="my-1">
    <p>Unete a nuestras comunidades.</p>
    <a class="btn btn-tg btn-lg" href="https://t.me/joinchat/SuVHPFKjny4ZGST9mii5kg" role="button" target="_blank"><img src="../assets/Telegram.svg" alt="HTML tutorial" style="width:42px;height:42px;"> </a>
    <a class="btn btn-fb btn-lg" href="https://www.facebook.com/groups/363490884787953/" role="button" target="_blank"><img src="../assets/facebook.svg" alt="HTML tutorial" style="width:42px;height:42px;"> </a>
    <a class="btn btn-discord btn-lg" href="https://discord.gg/jNKw97P" role="button" target="_blank"><img src="../assets/discord.svg" alt="HTML tutorial" style="width:42px;height:42px;"> </a>

</div>
<!-- <div class="embed-responsive embed-responsive-16by9">
    <iframe allow="camera; microphone; fullscreen; display-capture" src="https://meet.jit.si/RecursosInformaticos" style="height: 100%; width: 100%; border: 0px;"></iframe>
</div> -->